{
  "openapi": "3.0.0",
  "info": {
    "title": "Оплата баллами бонусов merged",
    "description": "Позволяет пользователям просматривать и использовать свои награды.",
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://api.bankingapi.ru/api/rb/rewardsPay/hackathon/v1",
      "description": "Адрес API в песочнице хакатона"
    }
  ],
  "paths": {
    "/cards/accounts/external/{externalAccountID}/rewards/balance": {
      "summary": "Операции с Account ID.",
      "description": "Операции с Account ID.",
      "get": {
        "tags": [
          "Оплата баллами бонусов"
        ],
        "summary": "Получить текущий баланс наград для указанного аккаунта и атрибутов программы, настроенных для конкретного партнера",
        "description": "Получить текущий баланс наград для данного аккаунта.",
        "operationId": "getRewardsBalance",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "TIAA-US External token",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJSUzI1NiIsImtpZCI6Imctb09kUnc1TWFlTmcwbWpsN1VpczlXT010NCIsInBpLmF0bSI6IjQ2N3YifQ.eyJzY29wZSI6ImFjY291bnRzIiwiY2xpZW50X2lkIjoiR2FwQ2xpZW50IiwiaXNzIjoiVElBQSBERVYiLCJhdWQiOiJCRE4tVVMtREVWIiwianRpIjoia0F0c2JYYW5CdnZOSFBacVd6WEs4TlhzczlPSXozamdBT090IiwiZmlyc3ROYW1lIjoiSm9obiIsImxhc3ROYW1lIjoiU21pdGgiLCJmcmF1ZFRva2VuIjoiOThjYmVlNWEtOTU4MS00NTdlLTk3NTEtZjVlYzNlNWZiYTUwIiwiZnJhdWRUb2tlbklzc3VlVGltZSI6IjE2MzAwMDMyNTQiLCJhY2NvdW50cyI6WyIxMjM0NTY3OCIsIjk4NzY1NDMyIl0sInBhcnR5SWQiOiIxMjM0NTYiLCJ1c2VybmFtZSI6ImJhcmNsYXlzdXNlciIsImV4cCI6MTYzMDAwMTQ1NX0.Jkgb2A2HAOdLKaion8ff097GedtQkxtAV4Qxea538owLS8zaEvTm9kHBWOxmuNHIgP1V8mx3NUflwbY8A823Ut00wWqbUbB-cSV0idDaQJ2pKWHDFYbipvi5I7yPGj2BR-oHhQao1ZGlW6DyxYuZ12q8IK7LpKVWbCSPZ-fFAlD5HgH_FORq6Avc5oLH--Zcww63fI6gtZ48pwnXX2gM1aiSQ3lfvLXWVQ9fooAlP65LOW1MMjh5HOtrNvA7ObBSYepYzef5ykP2YvIz3OOS4hLhTo-3-iEbUDvkPx_mmz_pi7piXrMqQPfPnz5y2VkLOHTYfQJeQmVg60YTG7uPdw"
          },
          {
            "name": "externalAccountID",
            "in": "path",
            "description": "Уникальный идентификатор (аналог UUID), созданный для каждой учетной записи клиента.",
            "required": true,
            "deprecated": false,
            "schema": {
              "maxLength": 36,
              "minLength": 1,
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
              "type": "string"
            },
            "example": "0dbcb7ee-6c59-483b-966a-44d11557665b"
          },
          {
            "name": "Correlation-ID",
            "in": "header",
            "description": "Уникальный идентификатор для каждого входящего запроса. Вызывающий API должен передать это в заголовке, который будет каскадно передан через стек вызовов API. Это необходимо для обеспечения соответствия текущим стандартам REST.",
            "required": true,
            "deprecated": false,
            "allowEmptyValue": false,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string"
            },
            "example": "7d444840-9dc0-11d1-b245-5ffdce74fad2"
          },
          {
            "name": "X-Caller-Id",
            "in": "header",
            "description": "Идентификатор внешнего объекта, инициирующего вызов. Устанавливается внешним шлюзом API и передается через стек API.",
            "required": false,
            "deprecated": false,
            "schema": {
              "maxLength": 20,
              "minLength": 3,
              "pattern": "^[A-Za-z0-9\\-_]{3,20}$",
              "type": "string"
            },
            "example": "partner"
          }
        ],
        "responses": {
          "200": {
            "description": "Содержит информацию, связанную с балансом вознаграждений для данной учетной записи.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RewardBalanceDataV2"
                },
                "examples": {
                  "RewardPointBalanceResponseV2": {
                    "$ref": "#/components/examples/RewardBalanceResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Сервер не смог понять запрос из-за неправильного синтаксиса. Клиент НЕ ДОЛЖЕН повторять запрос без изменений.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseType"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/example-error-400-bad-request"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Пользователю не удалось пройти аутентификацию для этого запроса.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseType"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/example-error-401"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Пользователю не разрешен доступ к запрошенной операции, и она не может быть завершена.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseType"
                },
                "examples": {
                  "Forbidden": {
                    "$ref": "#/components/examples/example-error-403"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Серверу не удалось найти ресурс для завершения операции. Это может быть временным или постоянным.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseType"
                },
                "examples": {
                  "NotFound": {
                    "$ref": "#/components/examples/example-error-404"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Сервер получил большое количество запросов от одной стороны за заданный промежуток времени. Клиенту рекомендуется повторить попытку после согласованного периода охлаждения.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseType"
                },
                "examples": {
                  "TooManyRequests": {
                    "$ref": "#/components/examples/example-error-429"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Сервер обнаружил ошибку при обработке запроса. Это общее сообщение об ошибке, которое выдается, когда более конкретное сообщение недоступно.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseType"
                },
                "examples": {
                  "INTERNAL_SERVER_ERROR": {
                    "$ref": "#/components/examples/example-error-500"
                  },
                  "ACCOUNT_INELIGIBLE": {
                    "$ref": "#/components/examples/example-error-500_ACCOUNT_INELIGIBLE"
                  },
                  "BUSINESS_VALIDATION_FAILED": {
                    "$ref": "#/components/examples/example-error-500_BUSINESS_VALIDATION_FAILED"
                  },
                  "TEMPORARY_UNPROCESSABLE": {
                    "$ref": "#/components/examples/example-error-500_TEMPORARY_UNPROCESSABLE"
                  }
                }
              }
            }
          },
          "503": {
            "description": "Временное прекращение обслуживания. Повторите попытку позже. Это временное состояние, которое пройдет после некоторой задержки.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseType"
                },
                "examples": {
                  "ServiceUnavailable": {
                    "$ref": "#/components/examples/example-error-503"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/cards/accounts/external/{externalAccountID}/rewards/redemption": {
      "summary": "Operations by Account ID.",
      "description": "Operations by Account ID.",
      "post": {
        "tags": [
          "Оплата баллами бонусов"
        ],
        "summary": "Выполните выписку по кредиту для данного аккаунта и соответствующих атрибутов программы.",
        "description": "Списывает вознаграждение с данного счета и публикует выписку по кредиту. Возвращает идентификатор погашения для отслеживания.",
        "operationId": "processRedemption",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "TIAA-US External token",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJSUzI1NiIsImtpZCI6Imctb09kUnc1TWFlTmcwbWpsN1VpczlXT010NCIsInBpLmF0bSI6IjQ2N3YifQ.eyJzY29wZSI6ImFjY291bnRzIiwiY2xpZW50X2lkIjoiR2FwQ2xpZW50IiwiaXNzIjoiVElBQSBERVYiLCJhdWQiOiJCRE4tVVMtREVWIiwianRpIjoia0F0c2JYYW5CdnZOSFBacVd6WEs4TlhzczlPSXozamdBT090IiwiZmlyc3ROYW1lIjoiSm9obiIsImxhc3ROYW1lIjoiU21pdGgiLCJmcmF1ZFRva2VuIjoiOThjYmVlNWEtOTU4MS00NTdlLTk3NTEtZjVlYzNlNWZiYTUwIiwiZnJhdWRUb2tlbklzc3VlVGltZSI6IjE2MzAwMDMyNTQiLCJhY2NvdW50cyI6WyIxMjM0NTY3OCIsIjk4NzY1NDMyIl0sInBhcnR5SWQiOiIxMjM0NTYiLCJ1c2VybmFtZSI6ImJhcmNsYXlzdXNlciIsImV4cCI6MTYzMDAwMTQ1NX0.Jkgb2A2HAOdLKaion8ff097GedtQkxtAV4Qxea538owLS8zaEvTm9kHBWOxmuNHIgP1V8mx3NUflwbY8A823Ut00wWqbUbB-cSV0idDaQJ2pKWHDFYbipvi5I7yPGj2BR-oHhQao1ZGlW6DyxYuZ12q8IK7LpKVWbCSPZ-fFAlD5HgH_FORq6Avc5oLH--Zcww63fI6gtZ48pwnXX2gM1aiSQ3lfvLXWVQ9fooAlP65LOW1MMjh5HOtrNvA7ObBSYepYzef5ykP2YvIz3OOS4hLhTo-3-iEbUDvkPx_mmz_pi7piXrMqQPfPnz5y2VkLOHTYfQJeQmVg60YTG7uPdw"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type",
            "required": true,
            "deprecated": false,
            "allowEmptyValue": false,
            "schema": {
              "maxLength": 35,
              "minLength": 16,
              "pattern": "^[a-z0-9A-Z-/;= ]{16,35}$",
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "externalAccountID",
            "in": "path",
            "description": "Уникальный идентификатор (аналог UUID), созданный для каждой учетной записи клиента.",
            "required": true,
            "deprecated": false,
            "schema": {
              "maxLength": 36,
              "minLength": 1,
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
              "type": "string"
            },
            "example": "0dbcb7ee-6c59-483b-966a-44d11557665b"
          },
          {
            "name": "Correlation-ID",
            "in": "header",
            "description": "Уникальный идентификатор для каждого входящего запроса. Вызывающий API должен передать это в заголовке, который будет каскадно передан через стек вызовов API. Это необходимо для обеспечения соответствия текущим стандартам REST.",
            "required": true,
            "deprecated": false,
            "allowEmptyValue": false,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "type": "string"
            },
            "example": "7d444840-9dc0-11d1-b245-5ffdce74fad2"
          },
          {
            "name": "X-Caller-Id",
            "in": "header",
            "description": "Идентификатор внешнего объекта, инициирующего вызов. Устанавливается внешним шлюзом API и передается через стек API.",
            "required": false,
            "deprecated": false,
            "schema": {
              "maxLength": 20,
              "minLength": 3,
              "pattern": "^[A-Za-z0-9\\-_]{3,20}$",
              "type": "string"
            },
            "example": "partner"
          }
        ],
        "requestBody": {
          "description": "Содержит информацию, необходимую для операции погашения.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RedemptionRequestDataV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Содержит информацию о результате операции погашения для данного аккаунта.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedemptionResponseDataV2"
                },
                "examples": {
                  "RedemptionResponseV2": {
                    "$ref": "#/components/examples/RewardRedeemResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Сервер не смог понять запрос из-за неправильного синтаксиса. Клиент НЕ ДОЛЖЕН повторять запрос без изменений.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseType"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/example-error-400-bad-request"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Пользователю не удалось пройти аутентификацию для этого запроса.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseType"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/example-error-401"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Пользователю не разрешен доступ к запрошенной операции, и она не может быть завершена.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseType"
                },
                "examples": {
                  "Forbidden": {
                    "$ref": "#/components/examples/example-error-403"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Серверу не удалось найти ресурс для завершения операции. Это может быть временным или постоянным.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseType"
                },
                "examples": {
                  "NotFound": {
                    "$ref": "#/components/examples/example-error-404"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Сервер получил большое количество запросов от одной стороны за заданный промежуток времени. Клиенту рекомендуется повторить попытку после согласованного периода охлаждения.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseType"
                },
                "examples": {
                  "TooManyRequests": {
                    "$ref": "#/components/examples/example-error-429"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Сервер обнаружил ошибку при обработке запроса. Это общее сообщение об ошибке, которое выдается, когда более конкретное сообщение недоступно.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseType"
                },
                "examples": {
                  "INTERNAL_SERVER_ERROR": {
                    "$ref": "#/components/examples/example-error-500"
                  },
                  "BAD_STATUS_ACCOUNT": {
                    "$ref": "#/components/examples/example-error-500_BAD_STATUS_ACCOUNT"
                  },
                  "INSUFFICIENT_BALANCE": {
                    "$ref": "#/components/examples/example-error-500_INSUFFICIENT_BALANCE"
                  },
                  "ACCOUNT_INELIGIBLE": {
                    "$ref": "#/components/examples/example-error-500_ACCOUNT_INELIGIBLE"
                  },
                  "BUSINESS_VALIDATION_FAILED": {
                    "$ref": "#/components/examples/example-error-500_BUSINESS_VALIDATION_FAILED"
                  },
                  "TEMPORARY_UNPROCESSABLE": {
                    "$ref": "#/components/examples/example-error-500_TEMPORARY_UNPROCESSABLE"
                  }
                }
              }
            }
          },
          "503": {
            "description": "Временное прекращение обслуживания. Повторите попытку позже. Это временное состояние, которое пройдет после некоторой задержки.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseType"
                },
                "examples": {
                  "ServiceUnavailable": {
                    "$ref": "#/components/examples/example-error-503"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/leads": {
      "get": {
        "tags": [
          "LeadStatus"
        ],
        "summary": "Получить информацию о лидах",
        "description": "Метод получения информации о лидах (заявках на создание юридических лиц)",
        "operationId": "getLeadStatusUsingGet",
        "parameters": [
          {
            "name": "X-Global-Transaction-ID",
            "in": "header",
            "description": "Уникальный ID транзакции. Если не указан, генерируется в API и возвращается в таком же заголовке ответа",
            "schema": {
              "maxLength": 24,
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "leadId",
            "in": "query",
            "description": "Идентификаторы лидов ПКБ. Дублировать идентификаторы лидов в источнике не нужно.",
            "style": "form",
            "explode": true,
            "schema": {
              "maxItems": 255,
              "uniqueItems": true,
              "type": "array",
              "items": {
                "maximum": 9007199254740991,
                "minimum": 0,
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Запрос успешно обработан полностью.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiLeadsStatusResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Как минимум одна заявка не обработана из-за ошибки в запросе.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiLeadsStatusResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Как минимум к одной заявке доступ запрещен.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiLeadsStatusResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Как минимум одна заявка не найдена.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiLeadsStatusResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Как минимум одна заявка не обработана из-за ошибки на сервере.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiLeadsStatusResponseDto"
                }
              }
            }
          },
          "503": {
            "description": "Сервис временно недоступен.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/leads_impersonal": {
      "post": {
        "tags": [
          "AddLead"
        ],
        "summary": "Добавить лиды",
        "description": "Добавляет лидов (заявки на создание юридических лиц) без персональных данных для дальнейшей обработки (звонков, контактов) с целью привлечения клиентов. Запрос может быть выполнен частично, то есть часть лидов из списка будет добавлена, а часть нет.",
        "operationId": "createLeadsUsingPost",
        "parameters": [
          {
            "name": "X-Global-Transaction-ID",
            "in": "header",
            "description": "Уникальный ID транзакции. Если не указан, генерируется в API и возвращается в таком же заголовке ответа",
            "schema": {
              "maxLength": 24,
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Запрос на создание лидов",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiLeadsImpersonalRequestDto"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiLeadsImpersonalRequestDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiLeadsImpersonalRequestDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiLeadsImpersonalRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан полностью.",
            "headers": {
              "Location": {
                "description": "Относительная ссылка на созданный объект. Пример: /openapi/smb/lecs/lead/hackathon/v1?leadId=123&leadId=245",
                "schema": {
                  "maxLength": 255,
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiLeadsImpersonalResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Как минимум одна заявка не обработана из-за ошибки в запросе.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiLeadsImpersonalResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещен.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiLeadsImpersonalResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Как минимум одна заявка не обработана из-за ошибки на сервере.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiLeadsImpersonalResponseDto"
                }
              }
            }
          },
          "503": {
            "description": "Сервис временно недоступен.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "body"
      }
    },
    "/check_leads": {
      "post": {
        "tags": [
          "CheckLead"
        ],
        "summary": "Проверяет лидов",
        "description": "Метод проверки лидов",
        "operationId": "checkLeadsUsingPost",
        "parameters": [
          {
            "name": "X-Global-Transaction-ID",
            "in": "header",
            "description": "Уникальный ID транзакции. Если не указан, генерируется в API и возвращается в таком же заголовке ответа",
            "schema": {
              "maxLength": 24,
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Запрос на проверку лидов",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiLeadsCheckRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан полностью.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiLeadsCheckResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Как минимум одна проверка лида не обработан из-за ошибки в запросе.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiLeadsCheckResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiLeadsCheckResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Как минимум один лид не обработан из-за ошибки на сервере.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiLeadsCheckResponseDto"
                }
              }
            }
          },
          "503": {
            "description": "Сервис временно недоступен.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "body"
      }
    },
    "/products": {
      "post": {
        "description": "Получение списка продуктов, доступных для оплаты сотового платежа",
        "tags": [
          "client-product-controller"
        ],
        "summary": "Получение списка продуктов, доступных для оплаты сотового платежа",
        "operationId": "getClientProducts",
        "parameters": [
          {
            "name": "X-MDM-ID",
            "in": "header",
            "description": "MDM ID",
            "required": true,
            "schema": {
              "maxLength": 255,
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientProductsDtoRq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Успешно обработал запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientProductsDtoRs"
                }
              }
            }
          },
          "400": {
            "description": "Неправильный формат запроса к сервису",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDtoRs"
                }
              }
            }
          },
          "500": {
            "description": "Сервер выполнил некорректную операцию/произошла непредвиденная ошибка обработки запроса",
            "content": {
              "*/*": {
                "schema": {
                  "maxLength": 10000,
                  "minLength": 1,
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Детальная информация о продукте по его идентификатору",
        "description": "Конечная точка позволяет получить детальную информацию о финансовом продукте кредитной организации по его идентификатору.",
        "operationId": "getProductsProductId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-fapi-interaction-id"
          },
          {
            "$ref": "#/components/parameters/x-fapi-customer-ip-address"
          },
          {
            "$ref": "#/components/parameters/x-customer-user-agent"
          },
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          },
          {
            "$ref": "#/components/parameters/productId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200ProductsRead"
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "403": {
            "$ref": "#/components/responses/403Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "405": {
            "$ref": "#/components/responses/405Error"
          },
          "406": {
            "$ref": "#/components/responses/406Error"
          },
          "429": {
            "$ref": "#/components/responses/429Error"
          },
          "500": {
            "$ref": "#/components/responses/500Error"
          },
          "501": {
            "$ref": "#/components/responses/501Error"
          },
          "503": {
            "$ref": "#/components/responses/503Error"
          }
        },
        "security": [
          {
            "TPPOAuth2Security": [
              "opendata"
            ]
          }
        ]
      }
    },
    "/customer-leads": {
      "post": {
        "tags": [
          "Customer lead"
        ],
        "summary": "Создать ресурс лидогенерации",
        "description": "Конечная точка позволяет передать информацию о лидогенерации от Стороннего поставщика к Поставщику услуг",
        "operationId": "CreateCustomerLeads",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "requestBody": {
          "description": "Запрос создания ресурса Лидогенерации",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerLeadsRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/201CustomerLeadsCreated"
          }
        },
        "security": [
          {
            "TPPOffersOAuth2Security": [
              "offers"
            ]
          }
        ]
      }
    },
    "/customer-leads/{customerLeadId}": {
      "get": {
        "tags": [
          "Customer lead"
        ],
        "summary": "Детали лидогенерации",
        "description": "Конечная точка позволяет получить информацию о статусе и деталях лидогенерации по идентификатору",
        "operationId": "GetCustomerLeadsCustomerLeadId",
        "parameters": [
          {
            "$ref": "#/components/parameters/customerLeadId"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200CustomerLeadsRead"
          }
        },
        "security": [
          {
            "PSUOffersOAuth2Security": [
              "offers"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "DeleteCustomerLeadsCustomerLeadId",
        "tags": [
          "Customer lead"
        ],
        "summary": "Удаление лидогенерации",
        "description": "Конечная точка позволяет удалять ресурс лидогенерации",
        "parameters": [
          {
            "$ref": "#/components/parameters/customerLeadId"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/204Deleted"
          }
        },
        "security": [
          {
            "TPPOffersOAuth2Security": [
              "offers"
            ]
          }
        ]
      }
    },
    "/product-offers": {
      "post": {
        "tags": [
          "Product offers"
        ],
        "summary": "Создать ресурс Предложения по продукту",
        "description": "Конечная точка позволяет инициировать получение Предложения по продукту для лида от Стороннего поставщика к Поставщику услуг",
        "operationId": "CreateProductOffers",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "requestBody": {
          "description": "Запрос создания ресурса Предложения по продукту для лида",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductOffersRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/201ProductOffersCreated"
          }
        },
        "security": [
          {
            "PSUOffersOAuth2Security": [
              "offers"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Product offers"
        ],
        "summary": "Список всех Предложений по продукту для лида",
        "description": "Конечная точка позволяет получить информацию о списке всех Предложений по продукту для определенной лидогенерации",
        "operationId": "GetProductOffers",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200ProductOffersRead"
          }
        },
        "security": [
          {
            "PSUOffersOAuth2Security": [
              "offers"
            ]
          }
        ]
      }
    },
    "/product-offers/{offerId}": {
      "get": {
        "tags": [
          "Product offers"
        ],
        "summary": "Детали Предложения по продукту для лида",
        "description": "Конечная точка позволяет получить детальную информацию о предложении по продукту по идентификатору",
        "operationId": "GetProductOffersOfferId",
        "parameters": [
          {
            "$ref": "#/components/parameters/offerId"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200ProductOffersRead"
          }
        },
        "security": [
          {
            "PSUOffersOAuth2Security": [
              "offers"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "DeleteProductOffersOfferId",
        "tags": [
          "Product offers"
        ],
        "summary": "Удаление Предложения по продукту",
        "description": "Конечная точка позволяет удалять ресурс Предложения по продукту",
        "parameters": [
          {
            "$ref": "#/components/parameters/offerId"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/204Deleted"
          }
        },
        "security": [
          {
            "PSUOffersOAuth2Security": [
              "offers"
            ]
          }
        ]
      }
    },
    "/product-offer-consents": {
      "post": {
        "tags": [
          "Product consent"
        ],
        "summary": "Создать ресурс Согласия на предложение по продукту",
        "description": "Конечная точка позволяет создать ресурс Согласия на предложение по продукту с целью дальнейшего инициирования его получение Пользователем",
        "operationId": "CreateProducOfferConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "requestBody": {
          "description": "Запрос создания ресурса Согласия на предложение по продукту",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProducOfferConsentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/201ProducOfferConsentCreated"
          }
        },
        "security": [
          {
            "PSUOffersOAuth2Security": [
              "offers"
            ]
          }
        ]
      }
    },
    "/product-offer-consents/{consentId}": {
      "get": {
        "tags": [
          "Product consent"
        ],
        "summary": "Детали Согласия на предложение по продукту",
        "description": "Конечная точка позволяет получить детальную информацию о согласии на предложение по продукту",
        "operationId": "GetProductOfferConsentsConsentId",
        "parameters": [
          {
            "$ref": "#/components/parameters/consentId"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200ProducOfferConsentRead"
          }
        },
        "security": [
          {
            "PSUOffersOAuth2Security": [
              "offers"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "DeleteProductOfferConsentsConsentId",
        "tags": [
          "Product consent"
        ],
        "summary": "Удаление Согласия на предложение по продукту",
        "description": "Конечная точка позволяет удалять ресурс Согласия на предложение по продукту",
        "parameters": [
          {
            "$ref": "#/components/parameters/consentId"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/204Deleted"
          }
        },
        "security": [
          {
            "PSUOffersOAuth2Security": [
              "offers"
            ]
          }
        ]
      }
    },
    "/product-application": {
      "post": {
        "tags": [
          "Product application"
        ],
        "summary": "Создать ресурс Заявления по продукту",
        "description": "Конечная точка позволяет инициировать получение продукта Пользователем, на который он авторизовал предложение, с помощью создание ресурса продукта на стороне Поставщика услуг.",
        "operationId": "CreateProductApplication",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "requestBody": {
          "description": "Запрос создания ресурса продукта",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/201ProductApplicationCreated"
          }
        },
        "security": [
          {
            "PSUProductsOAuth2Security": [
              "products"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Product application"
        ],
        "summary": "Список завлений по продукту и статус",
        "description": "Конечная точка позволяет получить информацию о статусе всех заявлений по продукту Пользователя",
        "operationId": "GetProductApplication",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200ProductApplicationRead"
          }
        },
        "security": [
          {
            "PSUProductsOAuth2Security": [
              "products"
            ]
          }
        ]
      }
    },
    "/product-application/{productApplicationId}": {
      "get": {
        "tags": [
          "Product application"
        ],
        "summary": "Детали Заявления по продукту",
        "description": "Конечная точка позволяет получить детальную информацию о заявлении по продукту Пользователя.",
        "operationId": "GetProductApplicationProductApplicationId",
        "parameters": [
          {
            "$ref": "#/components/parameters/productApplicationId"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200ProductApplicationRead"
          }
        },
        "security": [
          {
            "PSUProductsOAuth2Security": [
              "products"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "DeleteProductApplicationProductApplicationId",
        "tags": [
          "Product application"
        ],
        "summary": "Удаление Заявления по продукту",
        "description": "Конечная точка позволяет удалять ресурс Заявления по продукту",
        "parameters": [
          {
            "$ref": "#/components/parameters/productApplicationId"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/204Deleted"
          }
        },
        "security": [
          {
            "PSUProductsOAuth2Security": [
              "products"
            ]
          }
        ]
      }
    },
    "/applications": {
      "post": {
        "tags": [
          "partner-application-controller"
        ],
        "summary": "Сохранить данные по заявке",
        "description": "Данный метод сохраняет данные по заявке и возвращает уникальный идетификатор заявки",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Успешное завершение работы сервиса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Лимит вызовов. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Оставшееся количество вызовов в временном окне. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Время обнуления лимита вызовов в формате Unix Timestamp в миллисекундах.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TykErrorResponse"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Лимит вызовов. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Оставшееся количество вызовов в временном окне. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Время обнуления лимита вызовов в формате Unix Timestamp в миллисекундах.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TykErrorResponse"
                }
              }
            },
            "headers": {
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TykErrorResponse"
                }
              }
            },
            "headers": {
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TykErrorResponse"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Лимит вызовов. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Оставшееся количество вызовов в временном окне. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Время обнуления лимита вызовов в формате Unix Timestamp в миллисекундах.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TykErrorResponse"
                }
              }
            },
            "headers": {
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TykErrorResponse"
                }
              }
            },
            "headers": {
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TykErrorResponse"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Лимит вызовов. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Оставшееся количество вызовов в временном окне. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Время обнуления лимита вызовов в формате Unix Timestamp в миллисекундах.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TykErrorResponse"
                }
              }
            },
            "headers": {
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TykErrorResponse"
                }
              }
            },
            "headers": {
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TykErrorResponse"
                }
              }
            },
            "headers": {
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{applicationId}": {
      "get": {
        "tags": [
          "partner-application-controller"
        ],
        "summary": "Проверить статус заявки",
        "description": "Данный метод возвращает статус заявки",
        "operationId": "check",
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "ID заявки (uuid)",
            "required": true,
            "schema": {
              "maxLength": 36,
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "type": "string"
            },
            "example": "cd78543b-0aab-44ce-bb97-ce394e8ddb99"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешное завершение работы сервиса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationStatusResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Лимит вызовов. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Оставшееся количество вызовов в временном окне. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Время обнуления лимита вызовов в формате Unix Timestamp в миллисекундах.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TykErrorResponse"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Лимит вызовов. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Оставшееся количество вызовов в временном окне. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Время обнуления лимита вызовов в формате Unix Timestamp в миллисекундах.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TykErrorResponse"
                }
              }
            },
            "headers": {
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TykErrorResponse"
                }
              }
            },
            "headers": {
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TykErrorResponse"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Лимит вызовов. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Оставшееся количество вызовов в временном окне. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Время обнуления лимита вызовов в формате Unix Timestamp в миллисекундах.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TykErrorResponse"
                }
              }
            },
            "headers": {
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TykErrorResponse"
                }
              }
            },
            "headers": {
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TykErrorResponse"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Лимит вызовов. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Оставшееся количество вызовов в временном окне. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Время обнуления лимита вызовов в формате Unix Timestamp в миллисекундах.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TykErrorResponse"
                }
              }
            },
            "headers": {
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TykErrorResponse"
                }
              }
            },
            "headers": {
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TykErrorResponse"
                }
              }
            },
            "headers": {
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "partner-application-controller"
        ],
        "summary": "Принять предложение",
        "description": "Данный метод принимает предложение по заявке",
        "operationId": "confirm",
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "ID заявки (uuid)",
            "required": true,
            "schema": {
              "maxLength": 36,
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "type": "string"
            },
            "example": "cd78543b-0aab-44ce-bb97-ce394e8ddb99"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешное завершение работы сервиса",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/credentials/{publicId}": {
      "get": {
        "security": [
          {
            "EpaAuth": []
          }
        ],
        "parameters": [
          {
            "description": "Публичный идентификатор продукта",
            "in": "path",
            "name": "publicId",
            "required": true,
            "schema": {
              "maxLength": 50,
              "type": "string"
            }
          },
          {
            "description": "Уникальный идентификатор клиента в MDM",
            "in": "header",
            "name": "X-Mdm-Id",
            "required": true,
            "schema": {
              "maxLength": 50,
              "type": "string"
            }
          },
          {
            "description": "Открытый ключ клиента",
            "in": "header",
            "name": "clientOpenKey",
            "required": true,
            "schema": {
              "maxLength": 404,
              "type": "string"
            }
          },
          {
            "description": "Признак использования API партнером",
            "in": "header",
            "name": "x-client-channel",
            "required": true,
            "schema": {
              "maxLength": 50,
              "type": "string"
            }
          },
          {
            "description": "Мнемокод партнера",
            "in": "header",
            "name": "X-PARTNER-ID",
            "required": true,
            "schema": {
              "maxLength": 50,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialsResponse"
                }
              }
            },
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Лимит вызовов. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Оставшееся количество вызовов в временном окне. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Время обнуления лимита вызовов в формате Unix Timestamp в миллисекундах.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "202": {
            "description": "Запрос принят, ответ вернется асинхронно",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Лимит вызовов. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Оставшееся количество вызовов в временном окне. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Время обнуления лимита вызовов в формате Unix Timestamp в миллисекундах.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ServiceError"
                    },
                    {
                      "$ref": "#/components/schemas/TykErrorResponse"
                    }
                  ]
                }
              }
            },
            "description": "Некорректный запрос",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Лимит вызовов. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Оставшееся количество вызовов в временном окне. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Время обнуления лимита вызовов в формате Unix Timestamp в миллисекундах.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string",
                  "maxLength": 1000
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TykErrorResponse"
                }
              }
            },
            "headers": {
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string",
                  "maxLength": 1000
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TykErrorResponse"
                }
              }
            },
            "headers": {
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string",
                  "maxLength": 1000
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TykErrorResponse"
                }
              }
            },
            "headers": {
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string",
                  "maxLength": 1000
                }
              }
            }
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceError"
                }
              }
            },
            "description": "Формат содержимого запроса не поддерживается",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Лимит вызовов. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Оставшееся количество вызовов в временном окне. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Время обнуления лимита вызовов в формате Unix Timestamp в миллисекундах.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TykErrorResponse"
                }
              }
            },
            "headers": {
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string",
                  "maxLength": 1000
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TykErrorResponse"
                }
              }
            },
            "headers": {
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string",
                  "maxLength": 1000
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ServiceError"
                    },
                    {
                      "$ref": "#/components/schemas/TykErrorResponse"
                    }
                  ]
                }
              }
            },
            "description": "Внутренняя ошибка сервиса",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Лимит вызовов. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Оставшееся количество вызовов в временном окне. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Время обнуления лимита вызовов в формате Unix Timestamp в миллисекундах.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string",
                  "maxLength": 1000
                }
              }
            }
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ServiceError"
                    },
                    {
                      "$ref": "#/components/schemas/TykErrorResponse"
                    }
                  ]
                }
              }
            },
            "description": "Ошибка взаимодействия с внешним сервисом",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Лимит вызовов. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Оставшееся количество вызовов в временном окне. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Время обнуления лимита вызовов в формате Unix Timestamp в миллисекундах.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string",
                  "maxLength": 1000
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TykErrorResponse"
                }
              }
            },
            "headers": {
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string",
                  "maxLength": 1000
                }
              }
            }
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ServiceError"
                    },
                    {
                      "$ref": "#/components/schemas/TykErrorResponse"
                    }
                  ]
                }
              }
            },
            "description": "Таймаут ожидания ответа от внешнего сервиса",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Лимит вызовов. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Оставшееся количество вызовов в временном окне. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Время обнуления лимита вызовов в формате Unix Timestamp в миллисекундах.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string",
                  "maxLength": 1000
                }
              }
            }
          }
        },
        "tags": [
          "API для работы с картами"
        ],
        "description": "Метод получения реквизитов карты",
        "operationId": "getCredentials",
        "summary": "Получение реквизитов карты"
      }
    },
    "/cvv/{publicId}": {
      "get": {
        "security": [
          {
            "EpaAuth": []
          }
        ],
        "parameters": [
          {
            "description": "Публичный идентификатор продукта",
            "in": "path",
            "name": "publicId",
            "required": true,
            "schema": {
              "maxLength": 50,
              "type": "string"
            }
          },
          {
            "description": "Уникальный идентификатор клиента в MDM",
            "in": "header",
            "name": "X-Mdm-Id",
            "required": true,
            "schema": {
              "maxLength": 50,
              "type": "string"
            }
          },
          {
            "description": "Открытый ключ клиента",
            "in": "header",
            "name": "clientOpenKey",
            "required": true,
            "schema": {
              "maxLength": 404,
              "type": "string"
            }
          },
          {
            "description": "Признак использования API партнером",
            "in": "header",
            "name": "x-client-channel",
            "required": true,
            "schema": {
              "maxLength": 50,
              "type": "string"
            }
          },
          {
            "description": "Мнемокод партнера",
            "in": "header",
            "name": "X-PARTNER-ID",
            "required": true,
            "schema": {
              "maxLength": 50,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CvvResponse"
                }
              }
            },
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Лимит вызовов. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Оставшееся количество вызовов в временном окне. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Время обнуления лимита вызовов в формате Unix Timestamp в миллисекундах.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "202": {
            "description": "Запрос принят, ответ вернется асинхронно",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Лимит вызовов. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Оставшееся количество вызовов в временном окне. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Время обнуления лимита вызовов в формате Unix Timestamp в миллисекундах.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ServiceError"
                    },
                    {
                      "$ref": "#/components/schemas/TykErrorResponse"
                    }
                  ]
                }
              }
            },
            "description": "Некорректный запрос",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Лимит вызовов. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Оставшееся количество вызовов в временном окне. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Время обнуления лимита вызовов в формате Unix Timestamp в миллисекундах.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string",
                  "maxLength": 1000
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TykErrorResponse"
                }
              }
            },
            "headers": {
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string",
                  "maxLength": 1000
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TykErrorResponse"
                }
              }
            },
            "headers": {
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string",
                  "maxLength": 1000
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TykErrorResponse"
                }
              }
            },
            "headers": {
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string",
                  "maxLength": 1000
                }
              }
            }
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceError"
                }
              }
            },
            "description": "Формат содержимого запроса не поддерживается",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Лимит вызовов. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Оставшееся количество вызовов в временном окне. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Время обнуления лимита вызовов в формате Unix Timestamp в миллисекундах.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TykErrorResponse"
                }
              }
            },
            "headers": {
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string",
                  "maxLength": 1000
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TykErrorResponse"
                }
              }
            },
            "headers": {
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string",
                  "maxLength": 1000
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ServiceError"
                    },
                    {
                      "$ref": "#/components/schemas/TykErrorResponse"
                    }
                  ]
                }
              }
            },
            "description": "Внутренняя ошибка сервиса",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Лимит вызовов. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Оставшееся количество вызовов в временном окне. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Время обнуления лимита вызовов в формате Unix Timestamp в миллисекундах.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string",
                  "maxLength": 1000
                }
              }
            }
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ServiceError"
                    },
                    {
                      "$ref": "#/components/schemas/TykErrorResponse"
                    }
                  ]
                }
              }
            },
            "description": "Ошибка взаимодействия с внешним сервисом",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Лимит вызовов. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Оставшееся количество вызовов в временном окне. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Время обнуления лимита вызовов в формате Unix Timestamp в миллисекундах.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string",
                  "maxLength": 1000
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TykErrorResponse"
                }
              }
            },
            "headers": {
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string",
                  "maxLength": 1000
                }
              }
            }
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ServiceError"
                    },
                    {
                      "$ref": "#/components/schemas/TykErrorResponse"
                    }
                  ]
                }
              }
            },
            "description": "Таймаут ожидания ответа от внешнего сервиса",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Лимит вызовов. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Оставшееся количество вызовов в временном окне. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Время обнуления лимита вызовов в формате Unix Timestamp в миллисекундах.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-Generator": {
                "description": "Заголовок указывающий на сторону, сгенерировавшую ответ.",
                "schema": {
                  "type": "string",
                  "maxLength": 1000
                }
              }
            }
          }
        },
        "tags": [
          "API для работы с картами"
        ],
        "description": "Метод получения CVV кода карты",
        "operationId": "getCvv",
        "summary": "Получение кода CVV карты"
      }
    },
    "/token/{publicId}": {
      "post": {
        "security": [
          {
            "EpaAuth": []
          }
        ],
        "parameters": [
          {
            "description": "Публичный идентификатор продукта",
            "in": "path",
            "name": "publicId",
            "required": true,
            "schema": {
              "maxLength": 50,
              "type": "string"
            }
          },
          {
            "description": "Уникальный идентификатор клиента в MDM",
            "in": "header",
            "name": "X-Mdm-Id",
            "required": true,
            "schema": {
              "maxLength": 50,
              "type": "string"
            }
          },
          {
            "description": "Признак использования API партнером",
            "in": "header",
            "name": "x-client-channel",
            "required": true,
            "schema": {
              "maxLength": 50,
              "type": "string"
            }
          },
          {
            "description": "Мнемокод партнера",
            "in": "header",
            "name": "X-PARTNER-ID",
            "required": true,
            "schema": {
              "maxLength": 50,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokensDto"
                }
              }
            },
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Лимит вызовов. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Оставшееся количество вызовов в временном окне. Временное Окно лимита уточнить у поставщика API ключа X-TYK-API-KEY.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
[...]
